body {
    background-color: #212121;
    text-align: center;
}

@keyframes slide-right {
    0% {left: 50%; }

}

@keyframes slide-left {
    0% {right: 50%; }
}

.main-image-transition-right {
    animation-name: slide-right;
    transition: 1s; 
    margin-left: 38%;
    position: absolute;
}

.main-image-transition-left {
    animation-name: slide-left;
    transition: 1s; 
    margin-right: 30%;
}

.main-image {
    border-radius: 1em;
    padding: 1em;
    padding-top: 80px;
    position: absolute;
    top: 38%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 80%;
}

.question-area {
    border-radius: 1em;
    padding: 1px;
    position: absolute;
    top: 76%;
    left: 50%;
    margin-right: -50%;
    height: 10%;
    width: 20%;
    resize: none;
    transform: translate(-50%, -50%);
    text-align: center;
    text-align-last: center;
    vertical-align: middle;
    font-family: 'Comic Sans MS';
    font-size: 24px;
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.question-area-incognito {
    display: none;
}

.ask-button {
    border-radius: 1em;
    position: absolute;
    top: 76%;
    left: 63%;
    height: 10%;
    width: 5%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    background: rgba(255,255,255,0.8);
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.retry-button {
    font-size: 20px;
    border-radius: 1em;
    position: absolute;
    height: 10%;
    width: 10%;
    top: 93%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    resize: none;
    text-align: center;
    text-align-last: center;
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.meme-area {
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.bg {
    bottom: 100%;
    background-image: url(images/background.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.head{
	  position: absolute;
		top: 20px;
		width: 100%;
}

.you-asked {
    border-radius: 1em;
    color: darkorange;
    font-family: 'Comic Sans MS';
    font-size: 24px;
}

#question-title-id {
    top: 200px;
    overflow-wrap: normal;
    color: darkorange;
    text-align: center;
    font-family: 'Comic Sans MS';
    font-size: 42px;
}