body {
    background-color: mediumpurple;
}


@keyframes slide-right {
    0% {left: 50%; }
}

@keyframes slide-left {
    0% {right: 50%; }
}

.main-image-transition-right {
    animation-name: slide-right;
    transition: 1s; 
    margin-left: 38%;
    position: absolute;
}

.main-image-transition-left {
    animation-name: slide-left;
    transition: 1s; 
    margin-right: 30%;
}

.question-area {
    border-radius: 1em;
    padding: 1px;
    position: absolute;
    top: 72%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-family: 'Comic Sans MS';
    font-size: 24px;
    height: 10%;
    resize: none;
    text-align: center;
    text-align-last: center;
}



.ask-button {
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 73%;
    left: 65%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}


.retry-button {
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 73%;
    left: 65%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

.main-image {
    border-radius: 1em;
    padding: 1em;
    padding-top: 200px;
    position: absolute;
    top: 38%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}


.meme-area {
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.question-area-incognito {
    display: none;
}